# Clayton Seabaugh: Predicting a Continuous Target with Regression
**Author:** Clayton Seabaugh  
**Date:** 4-6-2025  
**Objective:** Predict a continuous numeric target using a regression model.

## Imports:

In [32]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import root_mean_squared_error, mean_absolute_error, r2_score

## Section 1: Import and Inspect the Data
Load the Titanic dataset and confirm it's structured correctly.

In [2]:
# Load Titanic dataset from seaborn and verify
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Section 2: Data Exploration and Preparation
Prepare the Titanic data for regression modeling

In [9]:
titanic['age'].fillna(titanic['age'].median(), inplace=True)

titanic = titanic.dropna(subset=['fare'])

titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1

titanic['sex_encoded'] = titanic['sex'].map({'male': 1, 'female': 0})

C:\Users\clayt\AppData\Local\Temp\ipykernel_7228\3036118738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['age'].fillna(titanic['age'].median(), inplace=True)

## Section 3: Feature Selection and Justification
Define multiple combinations of features to use as inputs to predict fare

In [10]:
# Case 1. age
X1 = titanic[['age']]
y1 = titanic['fare']

In [11]:
# Case 2. family_size
X2 = titanic[['family_size']]
y2 = titanic['fare']

In [12]:
# Case 3. age, family_size
X3 = titanic[['age', 'family_size']]
y3 = titanic['fare']

In [15]:
# Case 4. sex (encoded in numerical format)
X4 = titanic[['sex_encoded', 'age']]
y4 = titanic['fare']

### Reflection Questions Section 3

- Why might these features affect a passengerâ€™s fare: Age may affect fare cause it could be cheaper to buy tickets for kids, family's that are larger may require more rooms/beds so it may be more expensive. Perhaps rooms may be more expensive depending on what sex someone was.
- List all available features: survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone
- Which other features could improve predictions and why: Alone could improve predictions to get a better understanding of what one ticket may cost someone. embark_town could give us a good depiction on how fare prices ranged from place to place. 
- How many variables are in your Case 4: 3
- Which variable(s) did you choose for Case 4 and why do you feel those could make good inputs: I wanted to see the correlation of sex and age and how that affected the fare prices.

## Section 4: Train a Regression Model (Linear Regression)

### 4.1: Split the data

In [16]:
# Case 1
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=123)

# Case 2
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=123)

# Case 3
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.2, random_state=123)

# Case 4
X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, test_size=0.2, random_state=123)

### 4.2: Train and Evaluate Linear Regression Models

In [21]:
lr_model1 = LinearRegression().fit(X1_train, y1_train)
lr_model2 = LinearRegression().fit(X2_train, y2_train)
lr_model3 = LinearRegression().fit(X3_train, y3_train)
lr_model4 = LinearRegression().fit(X4_train, y4_train)

# Predictions 
y1_pred_train= lr_model1.predict(X1_train)
y1_pred_test = lr_model1.predict(X1_test)

y2_pred_train = lr_model2.predict(X2_train)
y2_pred_test = lr_model2.predict(X2_test)

y3_pred_train = lr_model3.predict(X3_train)
y3_pred_test = lr_model3.predict(X3_test)

y4_pred_train = lr_model4.predict(X4_train)
y4_pred_test = lr_model4.predict(X4_test)

### 4.3: Report performance

In [ ]:
# Print Case 1 model results
print("Case 1: Training RÂ²:", r2_score(y1_train, y1_pred_train))
print("Case 1: Test RÂ²:", r2_score(y1_test, y1_pred_test))
print("Case 1: Test RMSE:", root_mean_squared_error(y1_test, y1_pred_test))
print("Case 1: Test MAE:", mean_absolute_error(y1_test, y1_pred_test))

# Print Case 2 model results
print("Case 2: Training RÂ²:", r2_score(y1_train, y1_pred_train))
print("Case 2: Test RÂ²:", r2_score(y1_test, y1_pred_test))
print("Case 2: Test RMSE:", root_mean_squared_error(y1_test, y1_pred_test))
print("Case 2: Test MAE:", mean_absolute_error(y1_test, y1_pred_test))

Case 1: Training RÂ²: 0.009950688019452314
Case 1: Test RÂ²: 0.0034163395508415295
Case 1: Test RMSE: 37.97164180172938
Case 1: Test MAE: 25.28637293162364