# Clayton Seabaugh: Predicting a Continuous Target with Regression
**Author:** Clayton Seabaugh  
**Date:** 4-6-2025  
**Objective:** Predict a continuous numeric target using a regression model.

## Imports:

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

## Section 1: Import and Inspect the Data
Load the Titanic dataset and confirm it's structured correctly.

In [2]:
# Load Titanic dataset from seaborn and verify
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Section 2: Data Exploration and Preparation
Prepare the Titanic data for regression modeling

In [9]:
titanic['age'].fillna(titanic['age'].median(), inplace=True)

titanic = titanic.dropna(subset=['fare'])

titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1

titanic['sex_encoded'] = titanic['sex'].map({'male': 1, 'female': 0})

C:\Users\clayt\AppData\Local\Temp\ipykernel_7228\3036118738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['age'].fillna(titanic['age'].median(), inplace=True)

## Section 3: Feature Selection and Justification
Define multiple combinations of features to use as inputs to predict fare

In [10]:
# Case 1. age
X1 = titanic[['age']]
y1 = titanic['fare']

In [11]:
# Case 2. family_size
X2 = titanic[['family_size']]
y2 = titanic['fare']

In [12]:
# Case 3. age, family_size
X3 = titanic[['age', 'family_size']]
y3 = titanic['fare']

In [13]:
# Case 4. sex (encoded in numerical format)
X4 = titanic['sex_encoded']
y4 = titanic['fare']

### Reflection Questions Section 3

- Why might these features affect a passengerâ€™s fare:
- List all available features:
- Which other features could improve predictions and why:
- How many variables are in your Case 4:
- Which variable(s) did you choose for Case 4 and why do you feel those could make good inputs: